<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      name="email"
      type="email"
      class="form-control"
      id="email"
      [(ngModel)]="loginObj.email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [(ngModel)]="loginObj.password"
    />
  </div>

  <button type="submit" class="btn btn-primary" (click)="onLogin()">
    Submit
  </button>
</form>
